/* html {
  font-size: 13px;
} */

body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}

a.toggle-collapse {
    cursor: pointer;
}

.main {
    margin-top: 56px;
    padding-top: 14px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.divIconMarker {
    text-align: center;
    line-height: 15px;
}
